
<section class= "projects-container">

    <div class="projects-pagetitle"> Projects Edit Page</div>

    <div class="projects-form">
        <%= form_for [@strategic_goal,@project] do |f| %>
          
            <%= f.hidden_field :strategic_goal_id %>

            <div class="projects-form__field">
                <%= f.label :name %>
                <%= f.text_field :name, class:"projects-form__field__input"%>
                <span class="focus-border"></span>
            </div>

            <% @resources.each_with_index do |resource, index| %>
                <%= f.fields_for resource do |r| %>
                <div class="resource-holder">
                    <div class="projects-form__field">
                        <%= r.label :name, "Resource #{index+1}" %>
                        <%= r.text_field :name, class:"projects-form__field__input" %>
                        <span class="focus-border"></span>
                    </div> 
                    <div class="projects-form__field">
                        <%= r.label :resource_type %><br />
                        <%= r.select :resource_type, options_for_select(["Staff", "Hardware", "Software", "Fixture"]),{}, {class: "projects-form__field__input"} %>
                        <span class="focus-border"></span>
                    </div> 
                    <div class="projects-form__field">
                        <%= r.label :total_cost_year, "Total Year Cost" %><br />
                        <%= r.number_field :total_cost_year, class:"projects-form__field__input" %>
                        <span class="focus-border"></span>
                    </div> 
                    <div class="projects-form__field">
                        <%= r.label :Qty %><br />
                        <%= r.number_field :qty, class:"projects-form__field__input" %>
                        <span class="focus-border"></span>
                    </div>
                       
                       
                <% end %>
                </div>

            <% end %>
                
        <div class="submit-button">
            <%= f.submit 'Edit Project'%>
        </div>

        <% end %>
    </div>
</section>