<section class= "universal-container">
    
        <div class="universal-pagetitle">
            <%= link_to @business.name, business_path(@business) %> > <%= @strategic_goal.name%> > New Project
        </div>
        
        <div class="universal-form">
            <%= form_for [@strategic_goal,@project] do |f| %>

                <%= f.hidden_field :strategic_goal_id %>

            <div class="universal-form__field">
                <%= f.label :name, "Project name" %>
                <%= f.text_field :name, class:"universal-form__field__input" %>
                <span class="focus-border"></span>
            </div>

                <%= f.fields_for :resources do |r| %>
                <div class="resource-holder">
                    <div class="universal-form__field">
                        <%= r.label :name, "Resource name" %>
                        <%= r.text_field :name, class:"universal-form__field__input" %>
                        <span class="focus-border"></span>
                    </div>
                    <div class="universal-form__field">
                        <%= r.label :resource_type %>
                        <%= r.select :resource_type, options_for_select(["Staff", "Hardware", "Software", "Fixture"]),{}, {class: "universal-form__field__input"} %>
                        <span class="focus-border"></span>
                    </div>
                    <div class="universal-form__field">
                        <%= r.label :total_cost_year, 'Resource Cost' %>
                        <%= r.number_field :total_cost_year, class:"universal-form__field__input" %>
                        <span class="focus-border"></span>
                    </div>
                    <div class="universal-form__field">
                        <%= r.label :Qty %><br />
                        <%= r.number_field :qty, class:"universal-form__field__input" %>
                        <span class="focus-border"></span>
                    </div>
                    
                </div>
                <% end %>
                
            <div class="submit-button">   
                <%= f.submit 'Create Project', class: 'sub-btn' %>
            </div>
            <% end %>
         </div>
</section>