<h1>Businesses#Show</h1>

Simple Business Model creation for StartUps 


<%#=

 @business.strategic_goals[0].name



<div class="tree">
	<ul>
		<li>
	
			<ul>
				<li>
					<a href="#">Child</a>
					<ul>
						<li>
							<a href="#">Grand Child</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Child</a>
					<ul>
						<li><a href="#">Grand Child</a></li>
						<li>
							<a href="#">Grand Child</a>
							<ul>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
							</ul>
						</li>
						<li><a href="#">Grand Child</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div> %>

 <div class="tree">
	<ul>
		<li class="map-body">
			<div class= "business-box">
				<div class="business-box__head">
					<div class="business-box__head__content"><%= @business.name %></div>
					<%= link_to edit_business_path(@business) do %>
   						<%= svg_asset("pencil") %>
					<% end %>
				</div>
				<div class="business-box__description"><%= @business.description.nil? ? "Description TBC" : @business.description%></div>
			</div>
			<ul>
                <% @business.strategic_goals.each do |sg| %>
                    <li >
						<div class= "sg-box">
                    		<div class= "sg-box__head">
								<div class= "sg-box__head__content"><%= sg.name %></div>
								<%= link_to strategic_goal_path(sg.id) do %>
   									 <%= svg_asset("pencil") %>
								<% end %>
							</div>
                       		<div class="sg-box__description"><%= sg.description.nil? ? "Description TBC" : sg.description%></div>
						</div>
                        <ul>
							<li>
								<div class= "create-link">
									<%= link_to new_strategic_goal_project_path(strategic_goal_id: sg.id) do%>
										<%= svg_asset("squared-plus", class: "icon-plus") %> 	
									<% end %>
									<div>Project</div> 
									
								</div>
									<ul>
									<% sg.projects.each do |project| %>
										<li>
											<div class="project-box">
												<div class ="project-box__head">
													<div class= "project-box__head__content"><%= project.name %></div>
													<%= link_to edit_strategic_goal_project_path(sg,project.id) do %>
   									 					<%= svg_asset("pencil") %>
													<% end %>
												</div>
												<div class="project-box__body">
													<div class="project-box__body_title">Resources</div>
													<div class="project-box__body_items">
														<% project.resources.each do |resource| %>
															<div>
																<%= resource.name %>
																x <%= resource.qty %>
																<%= resource.total_cost_year %>
															</div>
														<% end %>
													</div>
												</div>
											</div>

											
										</li>
									<% end %>
									</ul>
							</li>	
                        </ul>
                    </li>
                <% end %>
			</ul>
		</li>
	</ul>
</div>
