<h1>Businesses#Show</h1>


<%#=

 @business.strategic_goals[0].name



<div class="tree">
	<ul>
		<li>
	
			<ul>
				<li>
					<a href="#">Child</a>
					<ul>
						<li>
							<a href="#">Grand Child</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Child</a>
					<ul>
						<li><a href="#">Grand Child</a></li>
						<li>
							<a href="#">Grand Child</a>
							<ul>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
							</ul>
						</li>
						<li><a href="#">Grand Child</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div> %>

 <div class="tree">
	<ul>
		<li class="map-body">
			<a href="#"><%= @business.name %></a>
			<ul>
                <% @business.strategic_goals.each do |sg| %>
                    <li >
						<div class="sg-box">
                    		<div class ="sg-box__head"><%= sg.name %></div>
                       		<div class="sg-box__approach"><%= sg.approach.nil? ? "Approach TBC" : sg.approach%></div>
                        <%= link_to 'Create project', new_strategic_goal_project_path(strategic_goal_id: sg.id)%> <br>
						</div>
                        <ul>
							<% sg.projects.each do |project| %>
								<li>
									<div class="project-box">
										<div class ="sg-box__head"><%= project.name %></div>
										<div class =""><%= project.name %></div>
									</div>
								</li>
							<% end %>
                        </ul>
                    </li>
                <% end %>
			</ul>
		</li>
	</ul>
</div>
