<!DOCTYPE html>
<html>
  <head>
    <title>ProductValueMapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        Header section 
      </header>
      <div class="content">
        <nav class="sidebar">
          navigation
        </nav>
        <main class="map">
          map
        </main>
      </div>
    
    </div>
    
    <%= yield %>
  </body>
</html>
