<!DOCTYPE html>
<html>
  <head>
    <title>Business Model Mapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <header class="header">
        <%= image_tag("logo.png", alt: "logo", class: "logo") %>

        <form action="#" class="search">
          <input type="text" class="search__input" placeholder="Search for resource, approach etc">
          <button class="search__button">
            <%= svg_asset("magnifying-glass", class: "search__icon") %>
          </button>
        </form>

        <nav class="user-nav">
          <div class="user-nav__icon-box">
            <%= svg_asset("line-graph") %>
          </div>
          <div class="user-nav__icon-box">
            <%= svg_asset("chat") %>
          </div> 
          <div class="user-nav__user">
            <%= image_tag("user.jpg", alt: "User photo", class: "user-nav__user-photo") %>
            <span class="user-nav__user-name">Jonas</span>
          </div>
        </nav>
      </header>

      <div class="sidebar">
          navigation
            <% if user_signed_in? %>
                <%= current_user.name %>
             <% else %>
                <%= link_to 'Sign In', new_user_session_path %>
            <% end %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      </div>
        
      <section class="map">
        map
        <%= yield %> 
      </section>

      <footer class="footer">
        footer
      </footer>
    
  </body>
  
</html>